* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
}


.container {
    max-width: 1180px;
    margin: auto;
}

header {
    padding-bottom: 84px;
    padding-top: 59px;
}

.logo a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #383838;
    text-decoration: none;
}

.flex-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: inline-block;
}

ul li {
    display: inline-block;

}


ul p {
    margin-right: 441px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #383838;
}



nav ul li {
    list-style-type: none;
    vertical-align: middle;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #383838;
}

.eye {
    cursor: pointer;
    border: none;
    vertical-align: middle;
    margin-left: 22px;
}

.settings {
    position: absolute;
    background-color: #fff;
    padding: 53px 60px 17px 45px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}

.settings div span {
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    margin-right: 17px;
    display: inline-block;
    width: 40%;
}

.settings div {
    margin-bottom: 50px;
}


.settings .active {
    background-color: #383838;
    padding: 10px 15px;
    color: #fff;
    border-radius: 10px;
    border-color: #383838;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    cursor: pointer
}

.settings button {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #000;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-right: 5px;
    cursor: pointer
}





.settings button:active {
    background-color: #383838;
    padding: 10px 15px;
    color: #fff;
    border-radius: 10px;
    border-color: #383838;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    cursor: pointer
}




.problems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 84px;
}

.problems h1 {
    vertical-align: middle;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
}

.problems label input {
    border: 2px solid #FF5C00;
    border-radius: 50px;
    padding: 20px 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    background-color: #f3f3f3;
}

.problems label input::placeholder {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
}

.problems label input:focus {
    border: 2px solid #FF5C00;
    border-radius: 50px;
    padding: 20px 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    outline: 2px solid #ececec;
}

.problems form button {
    border-radius: 50px;
    border: none;
    background-color: #FF5C00;
    color: #fff;
    padding: 20px 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-left: 13px;
}

.problems form button:active {
    border-radius: 50px;
    border: none;
    background-color: #858383;
    color: #000;
    padding: 20px 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.left-side label, .left-side button {
    margin-top: 34px;
}

.who-we-are {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 84px;
    padding-bottom: 95px;
}

.who-we-are h2 {
    vertical-align: middle;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
}

.who-we-are p {
    vertical-align: middle;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    max-width: 532px;
}

.solve {
    padding-top: 131px;
    padding-bottom: 143px;
}

.solve h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
    color: #383838;
    margin-bottom: 29px;
}

.help {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.help h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 45px;
    color: #505050;
    margin-bottom: 10px;
}

.help p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #383838;

}

.adaptation, .technologies {
    margin-bottom: 29px;
}

.adaptation, .technologies, .violent, .Notunderstand {
    display: inline-block;
    padding: 39px 28px;
    width: 49%;
    height: 326px;
    border: 1px #FF5C00 solid;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background-color: #F8F8F8;
}

.hidden {
    position: absolute;
    bottom: -300px;
    transition: 1s;
}

.adaptation img, .technologies img, .violent img, .Notunderstand img {
    transition: 1s;
    opacity: 1;
}



.adaptation:hover img, .technologies:hover img, .violent:hover img, .Notunderstand:hover img {
    opacity: 0;
    position: relative;
    z-index: -1;
}

.adaptation:hover .hidden, .technologies:hover .hidden, .violent:hover .hidden, .Notunderstand:hover .hidden {
    bottom: 0;
}

.adaptation a, .technologies a, .violent a, .Notunderstand a {
    display: block;
    margin-bottom: 39px;
    margin-top: 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FF5C00;
}


.adaptation a::after, .technologies a::after, .violent a::after, .Notunderstand a::after {
    display: inline-block;
    content: url(../images/arrow.svg);
    margin-left: 10px;
}

.background {
    background-color: #F8F8F8;
}

.why-it-is-important {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 84px;
    padding-bottom: 95px;
}

.why-it-is-important h2 {
    vertical-align: middle;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
}

.why-it-is-important p {
    vertical-align: middle;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    max-width: 700px;
}

.why-it-is-important a {
    display: inline-block;
    text-decoration: none;
    color: #FF5C00;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-top: 16px;
    line-height: 30px
}

.why-it-is-important a::after {
    display: inline-block;
    content: url(../images/arrow.svg);
    margin-left: 10px;
}

.problem-not-found {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.problem-not-found form {
    max-width: 480px;
}

.data {
    padding-top: 113px;
    padding-bottom: 105px;
}

.data h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
    color: #383838;
}

.data .statement {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #505050;
    margin-bottom: 51px;
}



.problem-not-found form label {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #383838;
    margin-bottom: 7px;
}

.problem-not-found form input, .problem-not-found form textarea {
    width: 100%;
}

.problem-not-found form textarea {
    resize: none;
}

.problem-not-found .custom-checkbox label {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    vertical-align: top;
    color: #383838;
}

.problem-not-found .custom-checkbox input {
    vertical-align: top;
    width: 30px;
}


.problem-not-found form input {
    border: 2px solid #FF5C00;
    border-radius: 50px;
    padding: 20px 30px 20px 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
}


.problem-not-found form input {
    display: block;
    background-color: #f3f3f3;
}


.problem-not-found label input:focus {
    border: 2px solid #FF5C00;
    border-radius: 50px;
    padding: 20px 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    outline: 2px solid #ececec;
}

.problem-not-found label textarea:focus {
    border: 2px solid #FF5C00;
    border-radius: 30px;
    padding: 20px 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    outline: 2px solid #ececec;
}

.custom-checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox span {
    display: inline-block;
    width: 28px;
    height: 28px;
    border: solid 1px #FF5C00;
    border-radius: 6.5px;
    cursor: pointer;
}

.custom-checkbox input:checked+span {
    content: url(../images/agree.svg);
}

.custom-checkbox input:checked {
    border: none;
}

.problem-not-found form button {
    border-radius: 50px;
    border: none;
    background-color: #FF5C00;
    width: 100%;
    height: 70px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}


.full-name {
    margin-bottom: 15px;
}

.full-name, .phone-or-email {
    margin-bottom: 28px;
}

.custom-checkbox {
    margin-bottom: 28px;
}

.your-problem {
    margin-bottom: 20px;
}

.your-problem textarea {
    border: 2px solid #FF5C00;
    border-radius: 30px;
    padding: 20px 30px 20px 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 268px;
    background-color: #f3f3f3;
}


.foot {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.foot h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    color: #383838;
    text-decoration: none;
}

.hotline {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: #505050;
    margin-bottom: 26px;
    margin-top: 10px;
}

.email {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #505050;
}


.foot a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #505050;
    text-decoration: none;
}

footer {
    padding-bottom: 34px;
    padding-top: 59px;
}

.eyef {
    cursor: pointer;
    border: none;
    background-color: #F8F8F8;
    vertical-align: middle;
    margin-left: 22px;
}