* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
}

.container {
    max-width: 1180px;
    margin: auto;
}

header {
    background-color: #E5E5E5;
    padding-bottom: 84px;
    padding-top: 59px;
}

.logo a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #383838;
    text-decoration: none;
}

.flex-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side p {
    margin-top: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #383838;
    line-height: 30px;
}


nav {
    display: inline-block;
}

ul li {
    display: inline-block;

}


ul p {
    margin-right: 441px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #383838;
}



nav ul li {
    list-style-type: none;
    vertical-align: middle;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #383838;
}

.eye {
    cursor: pointer;
    border: none;
    background-color: #E5E5E5;
    vertical-align: middle;
    margin-left: 22px;
}

.settings {
    position: absolute;
    background-color: #fff;
    padding: 53px 60px 17px 45px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}

.settings div span {
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    margin-right: 17px;
    display: inline-block;
    width: 40%;
}

.settings div {
    margin-bottom: 50px;
}


.settings .active {
    background-color: #383838;
    padding: 10px 15px;
    color: #fff;
    border-radius: 10px;
    border-color: #383838;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    cursor: pointer
}

.settings button {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #000;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-right: 5px;
    cursor: pointer
}





.settings button:active {
    background-color: #383838;
    padding: 10px 15px;
    color: #fff;
    border-radius: 10px;
    border-color: #383838;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    cursor: pointer
}




.problems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 84px;
}

.problems h1 {
    vertical-align: middle;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
}









.left-side {
    width: 495px;
    margin-bottom: 174px;
}

.right-side {
    margin-bottom: 129px;
}







.who-we-are h1 {
    vertical-align: middle;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
}

.who-we-are p {
    vertical-align: middle;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    max-width: 906px;

}
.down-block{
    margin-top: 60px;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}






.downer-block div{
    margin-top: 60px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
}
.downer-block p{
    margin-left: 26px;
    width: 60%;
}

.downer-block img{
    width: 7%;
}
.one img{
    width: 3%;
    margin-left: 20px;
    margin-right: 20px;
}




.down-block p{
    margin-left: 26px;
    width: 470px;
}
.top-block{
    padding-top: 95px;
}
.our-experiens {
    background-color: #E5E5E5;
    padding-bottom: 60px;
}











.why-it-is-important {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 54px;
    padding-bottom: 30px;
}

.why-it-is-important h1 {
    vertical-align: middle;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
    padding-bottom: 10px;
}

.why-it-is-important p {
    vertical-align: middle;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    max-width: 700px;
}

.left-block2{
    margin-bottom: 100px;
}


.why-it-is-important a::after {
    display: inline-block;
    content: url(../images/arrow.svg);
    margin-left: 10px;
}
.problem-not-found {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.problem-not-found form {
    max-width: 480px;
}

.userform{
    padding-top: 125px;
    background: #E5E5E5;
    padding-bottom: 125px;
}

.data h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
    color: #383838;
}

.data h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #505050;
}



.problem-not-found form label {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #383838;
    margin-bottom: 7px;
}

.problem-not-found form input, .problem-not-found form textarea  {
    width: 100%;
}

.problem-not-found form textarea {
    resize: none;
}

.problem-not-found .custom-checkbox label {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    vertical-align: top;
    color: #383838;
}

.problem-not-found .custom-checkbox input {
    vertical-align: top;
}


.problem-not-found form input {
    border: 2px solid #FF5C00;
    border-radius: 50px;
    padding: 20px 30px 20px 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
}


.problem-not-found form input {
    display: block;
    background-color: #f3f3f3;
}

.custom-checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox span {
    display: inline-block;
    width: 28px;
    height: 28px;
    border: solid 1px #FF5C00;
    border-radius: 6.5px;
    cursor: pointer;
}

.custom-checkbox input:checked+span {
    content: url(../images/agree.png);
}

.custom-checkbox input:checked {
    border: none;
}

.problem-not-found form button {
    border-radius: 50px;
    border: none;
    background-color: #FF5C00;
    width: 100%;
    height: 70px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}


.full-name {
    margin-bottom: 15px;
}

.full-name, .phone-or-email {
    margin-bottom: 28px;
}

.custom-checkbox {
    margin-bottom: 28px;
}

.your-problem {
    margin-bottom: 20px;
}

.your-problem textarea {
    border: 2px solid #FF5C00;
    border-radius: 30px;
    padding: 20px 30px 20px 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 268px;
    background-color: #f3f3f3;
}
























.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.foot h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #383838;
    text-decoration: none;
}

.foot p{
    margin-top: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #505050;
}

.foot a{
    margin-top: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #505050;
    text-decoration: none;
    padding-right: 40px;
}

footer{
        background-color: #F8F8F8;
        padding-bottom: 34px;
        padding-top: 59px;  
}

.eyef {
    cursor: pointer;
    border: none;
    background-color: #F8F8F8;
    vertical-align: middle;
    margin-left: 22px;
}